<% if (typeof request.status !== 'undefined') { %>
    <% if (request.status === 'success') { %>
      <div class="alert alert-success"><%= request.message %></div>
    <% } else if (request.status === 'error') { %>
      <div class="alert alert-danger"><%= request.message %></div>
    <% } %>
  <% } %>
  <% if (request.session && request.session.status) { %>
    <% if (request.session.status === 'success') { %>
      <div class="alert alert-success"><%= request.session.message %></div>
    <% } else if (request.session.status === 'error') { %>
      <div class="alert alert-danger"><%= request.session.message %></div>
    <% } %>
    <% delete request.session.status; delete request.session.message; %>
  <% } %>
  