</div> <!-- End container -->
<script src="<%= request.mainURL %>/public/js/jquery-3.3.1.min.js"></script>
<script src="<%= request.mainURL %>/public/js/popper.min.js"></script>
<script src="<%= request.mainURL %>/public/js/bootstrap.min.js"></script>
<script src="<%= request.mainURL %>/public/js/sweetalert.min.js"></script>
</body>
</html>
