<%- include("includes/header", { title: "Admin Panel" }) %>
<div class="jumbotron text-center">
  <h1>Admin Panel</h1>
  <p>Administrative functions and reports.</p>
</div>
<%- include("includes/footer") %>
